body{
padding: 0;
margin: 0;
box-sizing: borde-box;
display: flex;
}
/* define  */
p{
    margin:10px;/* define o tamanho  */
    height: 30dvh;
}
/* Define cor */
#vertical, #horizontal{
    background-color: white;
    width: 20dvw; /* Define largira máxima*/
    margin: 40px; /* Define margem de cada*/
}
/*  */
.line{
    display: inline;
    justify-content: space-around;
}

/* cores de fundo */
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}
.preto{
    background-color: black;
}